<header class="fixed-top">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-4">
        <h1>#Honor<span>GandG</span></h1>
      </div>
      <div class="col-4 text-right">
        <a href="//widgets.justgiving.com/Button/Redirect?p=eyJUZXh0IjoiUGFuY3JlYXRpYyBDYW5jZXIgQWN0aW9uIiwiSWQiOiJlYTUwNDA4NC04Y2MwLTQ2NTktOTdmYS0zMzJlZmQ3NGNmOGUiLCJDaGFyaXR5SWQiOjE5MDAxNCwiU2l6ZSI6InMiLCJSZWZlcmVuY2UiOiJIb25vckdhbmRHIiwiVHlwZSI6IkNoYXJpdHlEb25hdGUifQ==" class="btn text-right">Donate to<br /><span class="bold">Pancreatic Cancer Action</span></a>
      </div>
    </div>
  </div>
</header>