<header class="fixed-top">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-5">
        <h1>#Honor<span>GandG</span></h1>
      </div>
      <div class="col-5 text-right d-sm-none">
        <a href="http://link.justgiving.com/v1/fundraisingpage/donate/pageId/10840238?amount=10.00&currency=USD&reference=HnrGandG&exitUrl=http%3A%2F%2Fhonorgandg.org%3Ftyfyd%3D1%26jgDonationId%3DJUSTGIVING-DONATION-ID" class="btn donate-btn text-right" target="_blank">Donate</a>
      </div>
      <div class="col-5 text-right d-none d-sm-block">
        <a href="http://link.justgiving.com/v1/fundraisingpage/donate/pageId/10840238?amount=10.00&currency=USD&reference=HnrGandG&exitUrl=http%3A%2F%2Fhonorgandg.org%3Ftyfyd%3D1%26jgDonationId%3DJUSTGIVING-DONATION-ID" class="btn donate-btn text-right" target="_blank">Donate to<br /><span class="bold">Pancreatic Cancer Action</span></a>
      </div>
    </div>
  </div>
</header>