{%- extends 'base.html.twig' -%}

{% block body %}
  <article class="main">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-wrap justify-content-center">
            {% for pic in instaPics %}

              <div class="insta-pic m-2" data-src="https://www.instagram.com/p/{{ pic }}/"></div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}